@import url('https://fonts.cdnfonts.com/css/gilroy-bold');
                
.SectionThree{
    background-color: rgb(238, 47,76);
    color: rgb(248,248,248);
    width: 100vw;
    min-height: 100vh;
    position: relative;
    padding: 240px 200px 180px;
    background-image: url("https://web-images.credcdn.in/_next/assets/images/home-page/deserve-more-bg.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between
}

.feel{
    font-size: 100px;
    font-family: 'Gilroy-Bold', sans-serif;
    letter-spacing: -3.15px;
    line-height: 96px;
    white-space: pre-line;
    opacity: 0.9;
    width: 50%;
}

.exc{
    font-size: 32px;
    font-family: 'Gilroy-Bold',sans-serif;
    letter-spacing: -0.2px;
    white-space: pre-line;
    line-height: 38px;
    max-width: 630px;
    margin-top: 16px;
    font-weight: bold;
}

.every{
    font-size: 18px;
    font-family: 'Gilroy-Bold';
    letter-spacing: 0px;
    line-height: 28px;
    white-space: pre-line;
    max-width: 630px;
    font-weight: bold;
    margin-bottom: 40px;
}

.Explore_btn{
    display: inline-flex;
    white-space: nowrap;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    pointer-events:auto;
    text-align: center;
    padding: 20px 65px;
    background-color: rgb(255,255,255);
    color: black;
    font-size: 24px;
    font-family: 'Gilroy-Bold',sans-serif;
    font-weight: bold;
    letter-spacing: 0.4px;
    border-radius: 40px;
    cursor: pointer;
}